@page
@model Payment.API.Pages.IndexModel
@{
}


<form action="/3d/" method="post">
    <input type="text" name="Ad" />
    <input type="text" name="Soyad" />
    <input type="submit" value="Gönder" />

</form>
